.card {
  min-height: 20em;
  max-height: 35em;

  .card-header {
    display: flex;
    justify-content: space-between;
  }

  .incomes-table {
    overflow: auto;
    border-radius: 0 0 8px 8px;

  }

  th,
  td {
    border: 1px solid lightgray;
  }
}
