<div class="card">
  <div class="card-body p-2">
    <h5 class="card-title">Gracz: {{player.name}}, {{player.age}}lat, {{player.job.name}}</h5>
    <div class="row m-0 p-0">

      <div class="col m-0 p-0">

        <div class="row m-0 p-0">

          <div class="col-5 m-0 p-0 mr-2">
            <div class="card">
              <!-- <div class="card-body"> -->
              <img src="http://placekitten.com/200/300" class="card-img-top" style="height: 9em;" alt="http://placekitten.com/200/300">
              <!-- </div> -->
            </div>
          </div>

          <div class="col m-0 p-0">

            <div class="col m-0 p-0">
              <div class="input-group input-group-sm mb-2">
                <span class="input-group-text col-5 align-text-left" id="basic-addon3">Zawód:</span>
                <input type="text" class="form-control col align-text-right" id="basic-url" aria-describedby="basic-addon3" [value]="player.job.name"
                       disabled>
              </div>
            </div>

            <div class="col m-0 p-0">
              <div class="input-group input-group-sm mb-2">
                <span class="input-group-text col-5 align-text-left" id="basic-addon3">Wypłata:</span>
                <input type="text" class="form-control col align-text-right" id="basic-url" aria-describedby="basic-addon3"
                       [value]="player.job.salary | plnPipe" disabled>
              </div>
            </div>

            <div class="col m-0 p-0">
              <div class="input-group input-group-sm mb-2">
                <span class="input-group-text col-5 align-text-left" id="basic-addon3">Konto:</span>
                <input type="text" class="form-control col align-text-right" id="basic-url" aria-describedby="basic-addon3"
                       [value]="player.totalCash | plnPipe"
                       disabled>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="col m-0 p-0 mt-2">
      <div class="balance input-group input-group-md mb-1">
        <span class="balance input-group-text col-3 align-text-left"
              [ngClass]="{'text-red': (totalIncomes - totalExpenses) < 0}"
              id="basic-addon3">Bilans:
        </span>
        <div type="text" class="balance form-control col align-text-right" 
        [ngClass]="{
            'background-red' : ((totalIncomes - totalExpenses) < 0), 
            'background-green' : ((totalIncomes - totalExpenses) >= 0)
        }"
        id="basic-url" aria-describedby="basic-addon3"
             disabled>
          <span class="text-green">{{totalIncomes}}</span>
          <span class="text-red">{{' - ' + totalExpenses}} </span>
          <span> = </span>
          <span
                [ngClass]="{
                    'text-red' : ((totalIncomes - totalExpenses) < 0), 
                    'text-green' : ((totalIncomes - totalExpenses) >= 0)
                }">
            {{(totalIncomes - totalExpenses) | plnPipe}}</span>
        </div>

        <!-- 'text-red' : ((totalIncomes - totalExpenses) >= 0), -->
      </div>
    </div>

  </div>
</div>
