/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.modal-header,
.card-header {
  background-color: #bedeff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.modal-header,
.modal-footer {
  height: 3em;
}

.modal-footer {
  padding: 0em;
}

.card-header {
  height: 2em;
  padding: 0.5em;
}


.card {
  border-color: #007bfb;
}

.text-bold {
  font-weight: bold;
}

.text-red {
  color: red;
}

.text-green {
  color: green;
}

.background-red {
  background-color: #ffb8b8;
}

.background-green {
  background-color: #b8ffb8;
}

.align-text-left {
  text-align: left;
}

.align-text-right {
  text-align: right;
}

.align-items-left {
  display: flex;
  justify-content: flex-start;
}

.align-items-right {
  display: flex;
  justify-content: flex-end;
}
