<div class="card">
  <div class="card-body pt-2">

    <div class="row">

      <div class="col-3 m-0 p-0 pr-1">
        <app-player-card [player]="player"></app-player-card>
      </div>

      <div class="col-3 m-0 p-0 pr-1">
        <app-cash-table [title]="'Razem Wydatki'" [list]="player.expenses"></app-cash-table>
      </div>

      <div class="col-3 m-0 p-0 pr-1">
        <app-cash-table [title]="'Razem Przychody'" [list]="player.incomes"></app-cash-table>
      </div>

      <div class="col-3 m-0 p-0 pr-1">
        <app-cash-table [title]="'Majatek'" [list]="player.assets"></app-cash-table>
      </div>

    </div>







    <h5 class="card-title">Events</h5>
    <p class="card-text">

      <div class="row">

        <div *ngFor="let item of eventTypes" class="card col m-1">
          <div class="card-body">
            {{item}}
          </div>
        </div>

      </div>

      <app-event-card [event]="currentEvent"></app-event-card>

  </div>
</div>