<div class="card">
  <div class="card-body pt-3">

    <div class="row">

      <div class="col-3 m-0 p-0 pl-3 pr-3">
        <app-player-card [player]="player"></app-player-card>
      </div>

      <div class="col-3 m-0 p-0 pr-3">
        <app-cash-table
                        [title]="'Razem Wydatki'"
                        [list]="player.expenses"
                        [totalAmount]="totalExpenses"
                        (rowClick)="onIncomeClick($event)"></app-cash-table>
      </div>

      <div class="col-3 m-0 p-0 pr-3">
        <app-cash-table
                        [title]="'Razem Przychody'"
                        [list]="player.incomes"
                        [totalAmount]="totalIncomes"
                        (rowClick)="onIncomeClick($event)"></app-cash-table>
      </div>

      <div class="col-3 m-0 p-0 pr-3">
        <app-cash-table
                        [title]="'Majatek'"
                        [list]="player.assets"
                        [totalAmount]="totalAssets"
                        (rowClick)="onIncomeClick($event)"></app-cash-table>
      </div>

    </div>




              <!-- data-bs-toggle="modal"
          data-bs-target="#infoCardModal" -->
    <!-- <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" data-bs-toggle="modal" -->
    <!-- data-bs-target="#infoCardModal" >oldmodal</button> -->
    <!-- <button type="button" name="" id="" class="btn btn-primary btn-lg btn-block" (click)="openModal()"></button> -->
    <app-event-card [event]="currentEvent"></app-event-card>


  </div>
</div>

<app-info-card></app-info-card>



<!-- <div #content class="modal fade" id="infoCardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> -->
    <!-- <app-info-card [eventInfo]="relatedEvent"></app-info-card> -->
    <!-- <app-info-card ></app-info-card>
</div> -->


<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Open My Modal</button> -->

<!-- <ng-template #mymodal let-modal>
<app-info-card></app-info-card> -->

  <!-- <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">GAMEBOARDThisBootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    GAMEBOARDThis is example from ItSolutionStuff.com
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div> -->
<!-- </ng-template> -->
