<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Jak Życ</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="col navbar-nav me-auto mb-2 mb-lg-0">

        <div class="col-3">
          <div class="row nav-items d-flex justify-content-start">

            <li class="nav-item col-4 p-1 center ">
              <a class="nav-link active center" aria-current="page" [routerLink]="['/game']"><span class="navbar-item">Gra</span></a>
            </li>

            <li class="nav-item col-4 p-1 center">
              <a class="nav-link d-flex cesnter" aria-current="page" [routerLink]="['/player-info']">
                <span class="navbar-item">Dane Gracza</span>
              </a>
            </li>

            <li class="nav-item col-4 p-1 center  ">
            <span class="navbar-item">Date: </span>
            <span class="navbar-item">{{currentDate.year}} {{monthsList[currentDate.month]}} {{currentDate.day}}</span>
            </li>
          </div>
        </div>

        <div class="col-6 my-auto">
          <div class="nav-item">
            <button type="button" name="" id=""
                    class="btn btn-light btn-outline-dark btn-mdd btn-block msb-4 next-turn-btn"
                    (click)="nextTurn(true)"><span style="font-size: 2em;">Nastepny tydzien</span>
                  </button>
                  <!-- data-bs-toggle="modal"
            data-bs-target="#nextTurnModal" -->
          </div>

        </div>

        <div class="col-3">
          <div class="row nav-items justify-content-end">

            <li class="nav-item col-4 p-1 ">
              <a class="nav-link" [routerLink]="['/top-100']" aria-current="page" href="#"><span class="navbar-item">Top 100</span></a>
            </li>

          </div>
        </div>




      </ul>
    </div>
  </div>
</nav>






<!-- Modal -->
<div class="modal fade" id="eventCardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-event-card [event]="currentEvent"></app-event-card>
</div>

<div class="modal fade" id="nextTurnModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-next-turn-modal></app-next-turn-modal>
</div>
