<ng-template #infoCardModal let-modal>
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Nowy Tydzien</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.close('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body py-2">

      <div class="row m-0 mt-3 mb-4 p-0 events">
        <div *ngFor="let item of eventTypes" class="event card col"
             [ngClass]="{ 'active-tile' : item.name === activeTypeName } ">
          <div class="card-body">
            {{item.name}}
          </div>
        </div>
      </div>

      <!-- <div class="event card col"> -->
      <div *ngIf="currentEvent" class="card-body m-0 p-0" [ngClass]="{ 'blur-event-card' : !eventPickingFinished} ">
        <app-event-card [event]="currentEvent"></app-event-card>
      </div>
      <!-- </div> -->




      <div class="modal-footer">
        <button type="button" name="" id="" data-bs-dismiss="modal"
                class="col-4 btn btn-outline-success btn-md btn-blxock"
                (click)="modal.close('OK')">
          OK
        </button>
      </div>

    </div>


  </div>
</ng-template>
