Gracz: JohnDoe, 2022 lat, Kierowca
http://placekitten.com/200/300
Zawód:
Kierowca
Zarobki:
5000 PLN
Konto:
5000 PLN


<div class="container-fluid d-flex justify-content-center">

  <form class="card col-6 pt-3">


    <div class="row mb-4">
      <div class="col-3">
        <div class="card">
          <img src="http://placekitten.com/200/300" class="card-img-top" style="height: 9em;" alt="http://placekitten.com/200/300">
        </div>
      </div>

      <div class="col-9">
        <div class="row">

          <div class="col-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend row">
                <span class="input-group-text" id="basic-addon1">Imie:</span>
              </div>
              <input type="text" class="form-control" placeholder="Wpisz imie" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>

          <div class="col-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend row">
                <span class="input-group-text " id="basic-addon1">Wiek:</span>
              </div>
              <input type="text" class="form-control " placeholder="Wpisz wiek" aria-label="Username" aria-describedby="basic-addon1">
            </div>

          </div>
        </div>

        <div class="row">

          <div class="col-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend row">
                <label class="input-group-text" for="inputGroupSelect01">Zawod:</label>
              </div>
              <select class="custom-select" id="inputGroupSelect01" (change)="selectJob($event)">
                <option *ngFor="let item of jobList" [selected]="item.id===selectedJob.id" [value]="item.id">{{item.name}}</option>
              </select>
            </div>
          </div>

          <div class="col-6 pl-0">
            <div class="input-group">
              <span class="input-group-text col" id="basic-addon3">Zarobki:</span>
              <span class="input-group-text col" id="basic-addon3">{{selectedJob?.salary | plnPipe}}</span>
            </div>
          </div>















          <!-- <div class="col-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend row">
                <span class="input-group-text col" id="basic-addon1">Zarobki:</span>
              </div>
              <input type="text" class="form-control col" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div> -->

        </div>

      </div>

    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Cel:</label>
      </div>
      <select class="custom-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>


    <div class="form-group">
      <label for="exampleFormControlTextarea1">Wlasny Cel:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

  </form>
</div>
